
.heading{
    font-size: 30px;
    margin-bottom: 80px;
    color: #3c00a0;
    position: relative;
  }
   
   .heading h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
  .sites-heading{
    margin:2rem 0.5rem;
    text-align: left;
    font-size: 1.5rem;
    font-weight:bolder;
} 

ul.Datalist{

    
    background-color: rgba(158, 159, 162, 0.347);
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    list-style-type: none;

    
}

li{
    color: rgb(0, 0, 0);
}




.new-site{
    background-color: rgba(158, 159, 162, 0.347);
}


/* .new-site label,input{

    
    margin: 1rem;


} */

.new-site{
    display: None;
}

