.wrapper1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    background-color: #dee6fa;
  }
  .wrapper1 h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: #0848d3;
    position: relative;
    text-decoration: underline;
    font-weight: bold;
    }
  .wrapper1 h2{
    font-size: 30px;
    margin-bottom: 10px;
    color: #0848d3;
    position: relative;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 30px;
  }
  
    .labelr {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold; 
    color: #0848d3;
    margin-bottom: 20px;
  }
   .labeld {
    float: left;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold; 
    color: #0848d3;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  .labels {
    float:left;
    margin-right: 20px;
    font-size: 16px;
    margin-bottom:20px ;
    color: black;
    font-weight: bold;
    margin-left: 30px;
}
.space {
    margin-right: 10px;
}
  .label-spacing {
    margin-right: 70px;
  }
  .button {
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color:  #0831b9;
    transition: background-color 0.3s;
    margin-right: 15px;
  } 
  .button:hover {
    background-color: #2eb435;
  }
  .para {
    color:black;
    font-size: 14px;
    font-weight: 500;

  }
  
  .wrapper-registration {
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .redXImage {
    cursor: pointer;
  }